.Nav{
    width: 100%;
    background-color: white;
    /* position: relative; */
    display: flex;
    border-bottom: 2px solid rgb(219, 214, 214);
    padding: 1%;
}

.Nav .ul{
    display: flex;
    margin: auto;
}
.Nav .ul li{
    list-style: none;
    margin-right: 30px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.Nav .ul li:hover{
    color: rgb(246, 137, 60);
}
.listicon{
    font-size: 35px;
    color: rgb(246, 137, 60);
    cursor: pointer;
    display: none;
}
@media screen and (max-width:648px){
    
    .Nav{
        width: 100%;
        background-color: white;
        /* position: relative; */
        display: inline-block;
        border-bottom: 2px solid rgb(219, 214, 214);
        padding: 1%;
    }  
        .Nav .ul{
        display: none;
        margin: auto;
    }   
    .listicon{
        display: initial;
        position: absolute;
        top: 0;
        right: 10%;
        margin-left: 50%;
        margin-top: 10px;
    }
    .Tul{
        padding-left: 50%;
        background-color: white;
        /* display: none; */
        /* display: initial; */
        visibility: visible;
    }
}
.Tul{
    padding-left: 50%;
    background-color: white;
    /* visibility: hidden; */
}
.downlist{
    background-color: white;
    /* padding-right: 50%; */
}
.Tul li{
    background-color: white;
    z-index: 1;
    list-style: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}
.Tul li:hover{
    color: rgb(246, 137, 60);    
}
